<table summary="Reviewer form fields">
	   <tr>
	     <th>First Name</th>
	     <td><%= f.text_field(:rev_fname) %></td>
	   </tr>
	  <tr>
	    <th>last Name</th>
	    <td><%= f.text_field(:rev_lname ) %></td>
	  </tr>
	  <tr>
		<th>Num of Ratings</th>
	    <td><%=f.text_field(:rev_num_of_rating)%></td>
	</tr>  
	<tr>
		<th>Avg. Rating Given</th>
	    <td><%=f.text_field(:rev_avg_rating)%></td>
	</tr>
</table>