<%@page_title ="New Reviewer"%>
<%= link_to(" << Back to list", {:action => "list"}) %>
<div class="reviewer new">
<h2>New  Reviewer  </h2>



<%= form_for(:reviewer, :url=> {:action => 'create'}) do |f| %>
	
	
	<%= render(:partial =>"form", :locals => {:f => f}) %>

	<div class="form-buttons">
		<%= submit_tag("Create Reviewer") %>
	</div>

<%end%>


</div>
