<table summary="Restaurant form fields">
	   <tr>
	     <th>Name</th>
	     <td><%= f.text_field(:rest_name) %></td>
	   </tr>
	  <tr>
	    <th>City</th>
	    <td><%= f.text_field(:rest_city ) %></td>
	  </tr>
	  <tr>
		<th>Cuisine</th>
	    <td><%=f.text_field(:cuisine)%></td>
	</tr>  
	<tr>
		<th>Rating</th>
	    <td><%=f.text_field(:avg_rating, :readonly => 'true')%></td>
	</tr>
</table>