<%@page_title ="New Restaurant"%>
<div id="nav">
<ul>
<li><%= link_to(" << Back to list", {:action => "list"}) %></li>
</ul>
</div>

<div class="restaurant new">
<h2>New  Restaurant  </h2>



<%= form_for(:restaurant, :url=> {:action => 'create'}) do |f| %>
	
	
	<%= render(:partial =>"form", :locals => {:f => f}) %>

	<div class="form-buttons">
		<%= submit_tag("Create Restaurant") %>
	</div>

<%end%>


</div>
