<table summary="Review form fields">
	  
	<tr>
	    <th>Score</th>
	    <td><%= f.text_field(:score ) %></td>
	  </tr>
	  <tr>
		<th>Summary</th>
	    <td><%=f.text_field(:rev_summary)%></td>
	</tr>  
</table>