<%@page_title ="New Review"%>
<div id="nav">
<ul>
<li><%= link_to(" << Back to list", {:action => "list", :restaurant_id => @curr_restaurant.id}) %></li>
</ul></div>

<div class="review new">
<h2>New  Review  </h2>



<%= form_for(:review, :url=> {:action => 'create', :restaurant_id => @curr_restaurant.id}) do |f| %>
	
	
	<%= render(:partial =>"form", :locals => {:f => f}) %>

	<div class="form-buttons">
		<%= submit_tag("Create Review") %>
	</div>

<%end%>


</div>
