<%@page_title ="New Review"%>
<%= link_to(" << Back to list", {:action => "list"}) %>
<div class="review new">
<h2>New  Review  </h2>



<%= form_for(:review, :url=> {:action => 'create'}) do |f| %>
	
	
	<%= render(:partial =>"form", :locals => {:f => f}) %>

	<div class="form-buttons">
		<%= submit_tag("Create Review") %>
	</div>

<%end%>


</div>
